<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.analysis.mapper.PddDriverAfterMapper">
    
    <resultMap type="PddDriverAfter" id="PddDriverAfterResult">
        <result property="id"    column="id"    />
        <result property="pickUpDate"    column="pick_up_date"    />
        <result property="serviceStationName"    column="service_station_name"    />
        <result property="storeId"    column="store_id"    />
        <result property="storeName"    column="store_name"    />
        <result property="itemType"    column="item_type"    />
        <result property="itemId"    column="item_id"    />
        <result property="itemName"    column="item_name"    />
        <result property="itemNumber"    column="item_number"    />
        <result property="itemPrice"    column="item_price"    />
        <result property="afterRefundsNumber"    column="after_refunds_number"    />
        <result property="afterRefundsPrice"    column="after_refunds_price"    />
        <result property="afterRefundsRatio"    column="after_refunds_ratio"    />
        <result property="afterSalesReasons"    column="after_sales_reasons"    />
        <result property="afterSalesType"    column="after_sales_type"    />
        <result property="afterSalesTime"    column="after_sales_time"    />
        <result property="afterRefundsTime"    column="after_refunds_time"    />
        <result property="batchRefund"    column="batch_refund"    />
        <result property="refundOriginator"    column="refund_originator"    />
        <result property="driverName"    column="driver_name"    />
        <result property="driverPhone"    column="driver_phone"    />
        <result property="deliveryTime"    column="delivery_time"    />
        <result property="deliveryFailureReason"    column="delivery_failure_reason"    />
        <result property="stationmasterItemNumber"    column="stationmaster_item_number"    />
        <result property="operateItmeNumber"    column="operate_itme_number"    />
        <result property="appealStatus"    column="appeal_status"    />
        <result property="serviceStationSort"    column="service_station_sort"    />
        <result property="serviceRoute"    column="service_route"    />
        <result property="sorterName"    column="sorter_name"    />
        <result property="sorterActualNumber"    column="sorter_actual_number"    />
        <result property="sorterPiecesNumber"    column="sorter_pieces_number"    />
        <result property="sorterStartTime"    column="sorter_start_time"    />
        <result property="serviceStationLessNumber"    column="service_station_less_number"    />
        <result property="serviceStationPiecesNumber"    column="service_station_pieces_number"    />
        <result property="serviceStationManyNumber"    column="service_station_many_number"    />
    </resultMap>

    <sql id="selectPddDriverAfterVo">
        select id, pick_up_date, service_station_name, store_id, store_name, item_type, item_id, item_name, item_number, item_price, after_refunds_number, after_refunds_price, after_refunds_ratio, after_sales_reasons, after_sales_type, after_sales_time, after_refunds_time, batch_refund, refund_originator, driver_name, driver_phone, delivery_time, delivery_failure_reason, stationmaster_item_number, operate_itme_number, appeal_status, service_station_sort, service_route, sorter_name, sorter_actual_number, sorter_pieces_number, sorter_start_time, service_station_less_number, service_station_pieces_number, service_station_many_number from pdd_driver_after
    </sql>

    <select id="selectPddDriverAfterList" parameterType="PddDriverAfter" resultMap="PddDriverAfterResult">
        <include refid="selectPddDriverAfterVo"/>
        <where>  
            <if test="pickUpDate != null "> and pick_up_date = #{pickUpDate}</if>
            <if test="itemName != null  and itemName != ''"> and item_name like concat('%', #{itemName}, '%')</if>
            <if test="driverName != null  and driverName != ''"> and driver_name like concat('%', #{driverName}, '%')</if>
        </where>
    </select>
    
    <select id="selectPddDriverAfterById" parameterType="Long" resultMap="PddDriverAfterResult">
        <include refid="selectPddDriverAfterVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPddDriverAfter" parameterType="PddDriverAfter" useGeneratedKeys="true" keyProperty="id">
        insert into pdd_driver_after
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pickUpDate != null">pick_up_date,</if>
            <if test="serviceStationName != null">service_station_name,</if>
            <if test="storeId != null">store_id,</if>
            <if test="storeName != null">store_name,</if>
            <if test="itemType != null">item_type,</if>
            <if test="itemId != null">item_id,</if>
            <if test="itemName != null">item_name,</if>
            <if test="itemNumber != null">item_number,</if>
            <if test="itemPrice != null">item_price,</if>
            <if test="afterRefundsNumber != null">after_refunds_number,</if>
            <if test="afterRefundsPrice != null">after_refunds_price,</if>
            <if test="afterRefundsRatio != null">after_refunds_ratio,</if>
            <if test="afterSalesReasons != null">after_sales_reasons,</if>
            <if test="afterSalesType != null">after_sales_type,</if>
            <if test="afterSalesTime != null">after_sales_time,</if>
            <if test="afterRefundsTime != null">after_refunds_time,</if>
            <if test="batchRefund != null">batch_refund,</if>
            <if test="refundOriginator != null">refund_originator,</if>
            <if test="driverName != null">driver_name,</if>
            <if test="driverPhone != null">driver_phone,</if>
            <if test="deliveryTime != null">delivery_time,</if>
            <if test="deliveryFailureReason != null">delivery_failure_reason,</if>
            <if test="stationmasterItemNumber != null">stationmaster_item_number,</if>
            <if test="operateItmeNumber != null">operate_itme_number,</if>
            <if test="appealStatus != null">appeal_status,</if>
            <if test="serviceStationSort != null">service_station_sort,</if>
            <if test="serviceRoute != null">service_route,</if>
            <if test="sorterName != null">sorter_name,</if>
            <if test="sorterActualNumber != null">sorter_actual_number,</if>
            <if test="sorterPiecesNumber != null">sorter_pieces_number,</if>
            <if test="sorterStartTime != null">sorter_start_time,</if>
            <if test="serviceStationLessNumber != null">service_station_less_number,</if>
            <if test="serviceStationPiecesNumber != null">service_station_pieces_number,</if>
            <if test="serviceStationManyNumber != null">service_station_many_number,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pickUpDate != null">#{pickUpDate},</if>
            <if test="serviceStationName != null">#{serviceStationName},</if>
            <if test="storeId != null">#{storeId},</if>
            <if test="storeName != null">#{storeName},</if>
            <if test="itemType != null">#{itemType},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="itemName != null">#{itemName},</if>
            <if test="itemNumber != null">#{itemNumber},</if>
            <if test="itemPrice != null">#{itemPrice},</if>
            <if test="afterRefundsNumber != null">#{afterRefundsNumber},</if>
            <if test="afterRefundsPrice != null">#{afterRefundsPrice},</if>
            <if test="afterRefundsRatio != null">#{afterRefundsRatio},</if>
            <if test="afterSalesReasons != null">#{afterSalesReasons},</if>
            <if test="afterSalesType != null">#{afterSalesType},</if>
            <if test="afterSalesTime != null">#{afterSalesTime},</if>
            <if test="afterRefundsTime != null">#{afterRefundsTime},</if>
            <if test="batchRefund != null">#{batchRefund},</if>
            <if test="refundOriginator != null">#{refundOriginator},</if>
            <if test="driverName != null">#{driverName},</if>
            <if test="driverPhone != null">#{driverPhone},</if>
            <if test="deliveryTime != null">#{deliveryTime},</if>
            <if test="deliveryFailureReason != null">#{deliveryFailureReason},</if>
            <if test="stationmasterItemNumber != null">#{stationmasterItemNumber},</if>
            <if test="operateItmeNumber != null">#{operateItmeNumber},</if>
            <if test="appealStatus != null">#{appealStatus},</if>
            <if test="serviceStationSort != null">#{serviceStationSort},</if>
            <if test="serviceRoute != null">#{serviceRoute},</if>
            <if test="sorterName != null">#{sorterName},</if>
            <if test="sorterActualNumber != null">#{sorterActualNumber},</if>
            <if test="sorterPiecesNumber != null">#{sorterPiecesNumber},</if>
            <if test="sorterStartTime != null">#{sorterStartTime},</if>
            <if test="serviceStationLessNumber != null">#{serviceStationLessNumber},</if>
            <if test="serviceStationPiecesNumber != null">#{serviceStationPiecesNumber},</if>
            <if test="serviceStationManyNumber != null">#{serviceStationManyNumber},</if>
         </trim>
    </insert>

    <update id="updatePddDriverAfter" parameterType="PddDriverAfter">
        update pdd_driver_after
        <trim prefix="SET" suffixOverrides=",">
            <if test="pickUpDate != null">pick_up_date = #{pickUpDate},</if>
            <if test="serviceStationName != null">service_station_name = #{serviceStationName},</if>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="storeName != null">store_name = #{storeName},</if>
            <if test="itemType != null">item_type = #{itemType},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="itemName != null">item_name = #{itemName},</if>
            <if test="itemNumber != null">item_number = #{itemNumber},</if>
            <if test="itemPrice != null">item_price = #{itemPrice},</if>
            <if test="afterRefundsNumber != null">after_refunds_number = #{afterRefundsNumber},</if>
            <if test="afterRefundsPrice != null">after_refunds_price = #{afterRefundsPrice},</if>
            <if test="afterRefundsRatio != null">after_refunds_ratio = #{afterRefundsRatio},</if>
            <if test="afterSalesReasons != null">after_sales_reasons = #{afterSalesReasons},</if>
            <if test="afterSalesType != null">after_sales_type = #{afterSalesType},</if>
            <if test="afterSalesTime != null">after_sales_time = #{afterSalesTime},</if>
            <if test="afterRefundsTime != null">after_refunds_time = #{afterRefundsTime},</if>
            <if test="batchRefund != null">batch_refund = #{batchRefund},</if>
            <if test="refundOriginator != null">refund_originator = #{refundOriginator},</if>
            <if test="driverName != null">driver_name = #{driverName},</if>
            <if test="driverPhone != null">driver_phone = #{driverPhone},</if>
            <if test="deliveryTime != null">delivery_time = #{deliveryTime},</if>
            <if test="deliveryFailureReason != null">delivery_failure_reason = #{deliveryFailureReason},</if>
            <if test="stationmasterItemNumber != null">stationmaster_item_number = #{stationmasterItemNumber},</if>
            <if test="operateItmeNumber != null">operate_itme_number = #{operateItmeNumber},</if>
            <if test="appealStatus != null">appeal_status = #{appealStatus},</if>
            <if test="serviceStationSort != null">service_station_sort = #{serviceStationSort},</if>
            <if test="serviceRoute != null">service_route = #{serviceRoute},</if>
            <if test="sorterName != null">sorter_name = #{sorterName},</if>
            <if test="sorterActualNumber != null">sorter_actual_number = #{sorterActualNumber},</if>
            <if test="sorterPiecesNumber != null">sorter_pieces_number = #{sorterPiecesNumber},</if>
            <if test="sorterStartTime != null">sorter_start_time = #{sorterStartTime},</if>
            <if test="serviceStationLessNumber != null">service_station_less_number = #{serviceStationLessNumber},</if>
            <if test="serviceStationPiecesNumber != null">service_station_pieces_number = #{serviceStationPiecesNumber},</if>
            <if test="serviceStationManyNumber != null">service_station_many_number = #{serviceStationManyNumber},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePddDriverAfterById" parameterType="Long">
        delete from pdd_driver_after where id = #{id}
    </delete>

    <delete id="deletePddDriverAfterByIds" parameterType="String">
        delete from pdd_driver_after where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>